@import "./global.css";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
}

.auth-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.auth-container h1 {
    font-size: 24px;
    margin-bottom: 20px ;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.auth-container button {
    width: 100%;
    padding: 10px;
    background: #4caf50;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.auth-container button:hover {
    background: #45a049;
}

.welcome-message {
    display: none;
    margin-top: 20px;
    font-size: 18px;
}